<div class="a-pokemon-container">
    <p style="text-align: center; padding: 32px;">
        <img src="https://pokeres.bastionbot.org/images/pokemon/25.png" [style.max-width]="'320px'" />
    </p>
    <mat-card class="a-card">
        <mat-card-header class="a-card-header">
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>
                <h1 style="text-align: center;">A Pokémon Angular App</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h2 style="text-align: center;">based on Angular 9+, Angular Material and NgRx/Redux</h2>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3>What's included:</h3>
            <ul>
                <li>Angular 10+ & Typescript</li>
                <li>Angular Material & SCSS</li>
                <li>Responsive layout</li>
                <li>NgRx (Store, State, Action, Reducer, Effect, Entity Adapter)</li>
                <li>CI/CD (GitHub/Bitbucket, CircleCI pipeline, Docker, Test, SSH Deployment, Bash Script)</li>
                <li>Nginx</li>
                <li>Vultr Ubuntu VPS, Heroku Cloud Containers</li>
            </ul>
            <h3>All the Pokémon data are provided by <a mat-button href="https://pokeapi.co/" target="_blank">PokeAPI</a></h3>
        </mat-card-content>
        <mat-card-actions>
            <div style="text-align: center; margin-bottom: 16px;">Created by <strong>Daniel</strong> 2020</div>
        </mat-card-actions>
    </mat-card>
</div>
