<div class="a-container" [class.a-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="a-toolbar">
        <button mat-icon-button (click)="leftSide.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="/">
            <h1 class="a-app-name">{{ title }}</h1>
        </a>
        <button mat-icon-button (click)="openSheet()">
            <mat-icon>info</mat-icon>
        </button>
        <span class="a-spacer"></span>
        <button mat-icon-button (click)="toggleSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="rightSide.toggle()">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="a-sidenav-container" [style.paddingTop.px]="mobileQuery.matches ? 56 : 64">
        <mat-sidenav
            #leftSide
            [style.marginTop.px]="mobileQuery.matches ? 56 : 64"
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="0"
        >
            <mat-nav-list>
                <a mat-list-item routerLink="pokemon" (click)="leftSide.toggle()">Pokémons</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav
            #rightSide
            [style.marginTop.px]="mobileQuery.matches ? 56 : 64"
            position="end"
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="0"
        >
            <mat-nav-list>
                <button mat-button>right side</button>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
